<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2023 House Prices</title>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
  <h2>Welcome:</h2>
  <!--<p><strong>Click the link below to get the house price details by state :</strong></p>-->

  <a href="#" id="overviewPage"><h4>Overview of 2023 house price </h4></a>
  <p><div id = "OverviewChart" > </div>  

  <!-- Link to the /api/v1.0/states_details endpoint -->
  <a href="#" id="get-states"><h4>2023 house price details by state </h4></a>
  <p> <div id = "placeholder"> </div>
 <!-- Div to include the dropdown box -->
 <p> <p><div id="states-json">  </div>

  <p><div id = "charts_by_state"> 
        <canvas id="barChart"></canvas>
         <!-- <canvas id="barChart" width= 200, height = 200></canvas>-->
    </div>
  <p><div id = "sqftChart">   </div> 

  <!-- Include d3.js -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Include chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- Include Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Include the external JavaScript file -->
  <script src="./static/script.js"></script>
  
</body>
</html>
